@font-face {
  font-family: "Granville";
  src: url("https://umekendev.wpengine.com/assets/fonts/Granville/GranvilleWeb-Italic.eot");
  src: url("https://umekendev.wpengine.com/assets/fonts/Granville/GranvilleWeb-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("https://umekendev.wpengine.com/assets/fonts/Granville/GranvilleWeb-Italic.woff2")
      format("woff2"),
    url("https://umekendev.wpengine.com/assets/fonts/Granville/GranvilleWeb-Italic.woff")
      format("woff"),
    url("https://umekendev.wpengine.com/assets/fonts/Granville/GranvilleWeb-Italic.ttf")
      format("truetype"),
    url("https://umekendev.wpengine.com/assets/fonts/Granville/GranvilleWeb-Italic.svg#GranvilleWeb-Italic")
      format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Granville";
  src: url("https://umekendev.wpengine.com/assets/fonts/Granville/GranvilleWeb-Regular.eot");
  src: url("https://umekendev.wpengine.com/assets/fonts/Granville/GranvilleWeb-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://umekendev.wpengine.com/assets/fonts/Granville/GranvilleWeb-Regular.woff2")
      format("woff2"),
    url("https://umekendev.wpengine.com/assets/fonts/Granville/GranvilleWeb-Regular.woff")
      format("woff"),
    url("https://umekendev.wpengine.com/assets/fonts/Granville/GranvilleWeb-Regular.ttf")
      format("truetype"),
    url("https://umekendev.wpengine.com/assets/fonts/Granville/GranvilleWeb-Regular.svg#GranvilleWeb-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro";
  src: url("https://umekendev.wpengine.com/assets/fonts/DINPro/DINPro-Light.eot");
  src: url("https://umekendev.wpengine.com/assets/fonts/DINPro/DINPro-Light.eot?#iefix")
      format("embedded-opentype"),
    url("https://umekendev.wpengine.com/assets/fonts/DINPro/DINPro-Light.woff2")
      format("woff2"),
    url("https://umekendev.wpengine.com/assets/fonts/DINPro/DINPro-Light.woff")
      format("woff"),
    url("https://umekendev.wpengine.com/assets/fonts/DINPro/DINPro-Light.ttf")
      format("truetype"),
    url("https://umekendev.wpengine.com/assets/fonts/DINPro/DINPro-Light.svg#DINPro-Light")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro";
  src: url("https://umekendev.wpengine.com/assets/fonts/DINPro/DINNextLTPro-Medium.eot");
  src: url("https://umekendev.wpengine.com/assets/fonts/DINPro/DINNextLTPro-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://umekendev.wpengine.com/assets/fonts/DINPro/DINNextLTPro-Medium.woff2")
      format("woff2"),
    url("https://umekendev.wpengine.com/assets/fonts/DINPro/DINNextLTPro-Medium.woff")
      format("woff"),
    url("https://umekendev.wpengine.com/assets/fonts/DINPro/DINNextLTPro-Medium.ttf")
      format("truetype"),
    url("https://umekendev.wpengine.com/assets/fonts/DINPro/DINNextLTPro-Medium.svg#DINNextLTPro-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

$font1: "DIN Pro", sans-serif;
$font2: "Granville", sans-serif;
$topSpace: 110px;
$blue: #0c569a;
$offWhite: #f9f8f7;
$mapHeight: 645px;
$sideBarWidth: 385px;
$textGrey: #212121;

.store_map {
  background-color: white;
  padding: 15px;
}

#map_canvas {
  max-width: 1150px;
  margin: 0 auto;
  font-family: $font2;
  > div:nth-child(1) {
    position: relative;
    > .gm-style {
      position: relative;
      padding-top: $topSpace;
      [aria-label="Map"] {
        position: relative;
      }
      #div_search {
        position: absolute;
        #div_store_list {
          position: absolute;
          top: calc(#{$topSpace} + 70px);
          height: $mapHeight;
          padding: 30px 30px;
          width: $sideBarWidth;
          box-sizing: border-box;
          margin: 0;
          z-index: 2;

          &:after {
            content: "";
            position: absolute;
            width: $sideBarWidth;
            height: 300px;
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0) 0%,
              rgba(254, 251, 247, 0.3) 43.77%,
              rgba(255, 255, 255, 0.377543) 50%,
              #ffffff 100%
            );
          }
        }
      }
    }
  }
  &.with-sidebar {
    [aria-label="Map"] {
      position: relative;
      top: $topSpace !important;
      left: -200px !important;
    }
    &:after {
      content: " ";
      width: $sideBarWidth;
      position: absolute;
      bottom:0;
      right: 0;
      height: 60px;
      z-index: 2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(254, 251, 247, 0.3) 43.77%, rgba(255, 255, 255, 0.377543) 50%, #FFFFFF 100%);
      pointer-events: none;
      border-bottom: white 5px solid;
    }
  }

  [aria-label="Toggle fullscreen view"] {
    top: auto !important;
    left: auto !important;
    bottom: 0 !important;
    right: 0 !important;
  }
  .gm-bundled-control {
    display: none !important;
  }


}

#div_search {
  margin: 0;
  width: 100%;
  opacity: 1;
  background-color: white;
  height: $topSpace;

  .search {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
    position: relative;
    padding: 20px 0;
    .search_title {
      font-family: $font2;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
    }
    .input:nth-child(2) {
      position: absolute;
      bottom: -40px;
      right: 0;
      z-index: 1;
      background: white;
      width: $sideBarWidth;
      box-sizing: border-box;
      padding: 20px 30px 0;
      height: 40px;
    }
    .input:nth-child(3) {
      width: 100%;
      display: flex;
      gap: 30px;
      #pac_input {
        flex: 1;
        font-family: $font1;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        background: white;
        border: 1px solid rgba(99, 122, 135, 0.5);
        border-radius: 50px;
        height: 50px;
        padding: 14px 20px;
      }
      #btn_submit {
        background-color: $blue;
        color: white;
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
        width: 120px;
        height: 50px;
        border-radius: 50px;
      }
    }
  }
  .search_title {
    font-family: $font2;
  }
  #div_store_list {
    right: 0;
  }
}

.gm-style {
  z-index: 2;
}

[aria-label="Map"] {
  .gm-style-iw-t {
    .gm-style-iw-tc {
      display: none;
    }
  }
  [role="dialog"] {
    border-radius: 0;
    border: none;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.12);
    button[title="Close"] {
      top: 5px;
      right: 0;
      opacity: 0.9;
      top: 15px;
      right: 15px;
      opacity: 0.9;
      span {
        width: 25px;
        height: 25px;
      }
    }
  }
}

#iw-container {
  font-family: $font1;
  #info_store_name {
    background-color: transparent;
    color: black;
    text-transform: capitalize;
    padding: 10px 15px;
    font-family: $font1;
    font-weight: 500;
  }
  .iw-content {
    padding: 0 5px 20px 15px !important;
    font-family: $font1;
  }
  .iw_directions {
    background-color: transparent !important;
    width: auto !important;
    height: auto !important;
    margin: 20px auto 0 0 !important;
    float: left;
    a {
      display: inline-flex;
      border: 1px solid black;
      background-color: white;
      color: black !important;
      font-weight: 500;
      font-size: 16px;
      text-transform: capitalize;
      width: 215px;
      font-family: $font1;
      height: 50px;
      border-radius: 50px;
      align-items: center;
      justify-content: start;
      padding: 0 30px;
      background-image: url("https://cdns.iconmonstr.com/wp-content/releases/preview/2018/240/iconmonstr-arrow-right-thin.png");
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 25px 25px;
      background-position: 90% center;
    }
  }
}

#div_store_list {
  .list {
    border-bottom: 1px solid rgba(3, 6, 7, 0.1);
    color: $textGrey;
    .store_name {
      .store_nm_no_w,
      .store_nm_no_s {
        line-height: 1;
        width: 20px;
        height: 20px;
        text-align: center;
        background-image: none;
        color: grey;
        top: -2px;
        position: relative;
      }
      .store_nm_no_s {
        color: $blue;
      }
      .store_nm_ttl {
        font-size: 16px;
        font-family: $font1;
        color: black;
        font-weight: 500;
      }
    }
    li > img {
      height: 20px;
      margin: 10px 0;
      display: block;
    }
  }
}
